{% from "macros/fields.tmpl" import render_input_field, render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}LIST{% endblock %}

{% block content %}
  <h3>Vysledky</h3>
  <div class="form-group">Vysledky testu</div>
 <table>
    {% for radek in data %}
        <tr><td><a href=/vystupuzivatle/{{ radek.id }}>{{ radek.username }}</a></td>
        <td>{{ radek.suma }}</td></tr>
    {% endfor %}
    </table>

{% endblock %}
